@page "/"
@using Entity
@inject IProfileQueries _profileQueries

<PageTitle>Home</PageTitle>

@if (_profile is null)
{
	<h1>profile is null</h1>
}

@if (_profile is not null)
{
	<div class="md:w-1/3">
		<section class="flex flex-col items-center py-2">
			@* main pic *@
			<img src="pic/sample_1.jpg" class="rounded-xl py-2" height="100" width="100" />
			<h1 class="text-2xl">
				@_profile.Name
			</h1>
			<a target="_blank" href="etc/Tuft.zip" download="etc/Tuft.zip">download</a>
		</section>
		<section class="p-4">
			@* description / about *@
			<article class="text-sm text-justify">
				@_profile.About
			</article>
		</section>
		<section class="flex justify-center gap-2 py-2">
			<img src="pic/spotify_1.jpg" class="cursor-pointer" height="30" width="30" />
			<img src="pic/ex_1.jpg" class="cursor-pointer" height="30" width="30" />
		</section>
		<section>
			@* highlights / story / their ads or promo
		<a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
		<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="pic/sample_1.jpg" alt="sample" />
		<div class="flex flex-col justify-between p-4 leading-normal">
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
		<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
		</div>
		</a>
		*@
		</section>
		<section class="flex flex-col gap-2 p-4 w-full">
			@* links if there is any *@
			<a href="#" class="flex items-center border border-gray-200 rounded-lg shadow h-16 gap-4">
				<img class="object-cover max-h-16" src="pic/sample_1.jpg" alt="sample" />
				<p class="text-sm font-semibold tracking-tight text-gray-900 dark:text-white">
					about this
				</p>
			</a>

			<a href="#" class="flex items-center border border-gray-200 rounded-lg shadow h-16 gap-4">
				<img class="object-cover max-h-16" src="pic/sample_1.jpg" alt="sample" />
				<p class="text-sm font-semibold tracking-tight text-gray-900 dark:text-white">
					about this
				</p>
			</a>

			<a href="#" class="flex items-center border border-gray-200 rounded-lg shadow h-16 gap-4">
				<img class="object-cover max-h-16" src="pic/sample_1.jpg" alt="sample" />
				<p class="text-sm font-semibold tracking-tight text-gray-900 dark:text-white">
					about this
				</p>
			</a>
		</section>
		<section>
			@* a *@
		</section>
		<section>
			@* v or s *@
		</section>
	</div>
}


@code {
	private Profile? _profile { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_profile = await _profileQueries.GetProfileAsync();

		await base.OnInitializedAsync();
	}
}

@* - - - *@
